<!DOCTYPE html>
<html>
  <head>
    <title>ContactManager</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
    <!-- navbar -->
    <%= render 'layouts/navbar'%>

    <!-- content -->
    <div class="container">
      <div class="row">
        <div class="col-md-3">
         <%= render 'layouts/sidebar'%>
        </div><!-- /.col-md-3 -->

        <div class="col-md-9">
          <%= render 'layouts/messages' if !flash.empty? %>
          <%= yield%>
        </div>
      </div>
    </div>
  </body>
</html>
